h2 {
  font-weight: 700;
  color: #3823a8;
  margin-top: 5px;
}

.container {
  box-sizing: border-box;
  display: inline;
  padding: 10px 10px 10px 10px;
  border-radius: 28px;
  background: #e4fafb;
  color: #3823a8;
  margin: 2px;
}

#wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  grid-template-rows: minmax(500px auto);
  margin: 30px;
  font-size: 25px;
  text-align: left;
}

.purpleText {
  color: #3823a8;
  font-weight: 500;
}

#large {
  font-size: 50px;
}

#tableWrap {
  position: fixed;
  display: inline;
  text-align: center;
  color: #3823a8;
  background: #e4fafb;
  margin: 30px;
  width: 90%;
  font-size: 25px;
  border-radius: 28px;
  border-collapse: separate;
}

#sloButton {
  background-color: #F5C24C; 
  border: none;
  color:#3823a8;
  padding: 15px;
  text-align: center;
  display: inline-block;
  font-size: 35px;
  font-weight: 500;
  margin:25px;
  border-radius: 28px;
}
thead {
  background: #F5C24C;
  line-height: 50px;
  border-radius: 28px;
}

tr {
  line-height: 40px;
}

tr:nth-child(2)
{
  background-color: #F1FEFF;
}

table {
  width: 100%;
  border-radius: 28px;
}

th,td{
  font-size: 25px;
}