#assignmentQuestion {
    display: inline-grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    column-gap: 50px;
    row-gap: 20px;
    height: 100%;
    width: 100%;
    color: #3823A8;
    padding: 20px;
}

#assignmentQuestion .infoBox {
    /* text-align: center; */
    border-radius: 28px;
    background: #e4fafb;
    box-sizing: border-box;
    display: inline;
    padding: 10px;
    margin: 0;
    position: relative;
}

#assignmentQuestion .infoBox-title {
    font-weight: 700;
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
}

#assignmentQuestion .problemNumber {
    font-size: 36px;
    text-align: justify;
    text-justify: left;
    padding: 10px;
    padding-left: 30px;
}

#assignmentQuestion .answer {
    font-style: oblique;
    font-size: 24px;
    font-weight: bold;
    margin: 5px;
}

#assignmentQuestion .answerBox {
    border-radius: 35px;
    border: 1px solid #3823a8;
    width: 100px;
    margin-right: 50px;
}

#assignmentQuestion #questionInfo {
    padding: 20px;
    font-size: 36px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

#assignmentQuestion #submitButton {
    color: #3823a8;
    background-color: #f5c24c;
    border-radius: 35px;
    width: 250px;
    height: 55px;
    border: 1px solide #3823a8;
}

#assignmentQuestion #helpButtons {
    text-align: right;
}

#assignmentQuestion .helpButton {
    margin-left: 10px;
}

#assignmentQuestion #hintButton {
    height: 50px;
    width: 150px;
    font-size: 20px;
    background-color: white;
    border-radius: 35px;
    border: 1px solid #3823a8;
}

#assignmentQuestion .hintBox {
    margin: 10px;
    height: 150px;
    width: 450px;
    background-color: white;
    border-radius: 28px;
    border: 1px solid #3823a8;
    font-size: 20px;
    padding: 5px 5px 10px 10px;
    position: relative;
}

#assignmentQuestion #textbook {
    height: 100%;
}

#assignmentQuestion #textbookBox {
    height: 700px;
    width: min-content;
    position: relative;
}

#assignmentQuestion #exitButton {
    position: absolute;
    top: 5px;
    right: 5px;
}

#assignmentQuestion .resultBox {
    height: 150px;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -75px;
    color: white;
    font-size: 25px;
    padding: 5px;
}

#assignmentQuestion #correctResultBox {
    background-color: #0D890B70;
}

#assignmentQuestion #incorrectResultBox {
    background-color: #F1090970
}

#assignmentQuestion #correctResultBox button {
    background-color: white;
    border-radius: 30px;
    width: 300px;
    margin: 5px;
}