.font-thin {
    font-weight: 100;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-bold {
    font-weight: 700;
}

.font-black {
    font-weight: 900;
}

.font-condensed {
    font-stretch: condensed;
}

.font-oblique {
    font-style: oblique;
}

.font-lightBlue {
    color: #e4fafb;
}

.font-blue {
    color: #6ac9e6
}

.font-gold {
    color: #f5c24c
}

.font-darkBlue {
    color: #3823a8
}

.font-white {
    color: white
}

.background-lightBlue {
    background: #e4fafb;
}

.background-blue {
    background: #6ac9e6;
}

.background-gold {
    background: #f5c24c
}

.background-darkBlue {
    background: #3823a8
}

.background-white {
    background: white
}

.font-smallCaps {
    font-variant-caps: small-caps;
}