.container {
    box-sizing: border-box;
    text-align: center;
    display: inline;
    border-radius: 28px;
    background: #e4fafb;
}

.container-title {
    font-weight: 700;
    font-size: 25px;
    color: #3823a8;
    margin-top: 15px;
}

#homepage-centerSpace {
    display: inline-grid;
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: 0px;
}

.assignment {
    display: block;
    margin: 5px;
    border-radius: 12px;
    background-color: white;
    height: 65px;
    text-align: left;
    border: 1px solid #3823A8;
    position: relative;
    overflow: visible;
}

.assignment-leftBox {
    display: inline-flex;
    border-radius: 12px;
    height: 65px;
    width: 65px;
    justify-content: center;
    align-items: center;
}

.assignment-centerBox {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    overflow: visible;
}

.assignment-class {
    font-size: 18px;
    text-decoration: underline;
}

.assignment-name {
    font-size: 20px;
}

.assignment-rightBox {
    display: inline-flex;
    position: absolute;
    right: 15px;
    text-align: right;
}

.assignment-dueDate {
    position: relative;
    top: 20px;
    font-size: 18px;
}

.assignment-grade {
    position: relative;
    font-size: 25px;
    top: 12px;
}

#gradesBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 5px;
}