

#centerSpace {
    display: grid;
    width: 100vw;
    height: 100vh;
    /* width: 100%; */
    /* height: 100%; */
}

#info {
    margin: 15px auto;
    max-width: 80%;
    padding: 15px;
    border-style: solid;
    border-radius: 40px;
    border-width: thin;
    background-color: white;

    max-height: 100%;
}

h2 {
    font-size: 40px;
}

#SignIn {
    width: 100%;
    background-color: #f5c24c;
}

#CreateAccount {
    width: 40%;
    background-color: #6ac9e6;
    margin-right: 5%;
}

#ForgotCredentials {
    width: 55%;
    background-color: #6ac9e6;

}

.radioButton {
    width: 3%;
    margin: 0 2%;
}

.buttonGroup {
    margin: 0 auto;
}