.Login {
    padding: 60px 0;

}

.Login Form {
    margin: 0 auto;
    max-width: 450px;
    padding: 30px 60px;
    border-style: solid;
    border-radius: 15px;
    border-width: thin;
    background-color: #c4c4bc;

}


.bg {
    background-image: url(./images/loginBackground.jpg);
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

#centerSpace {
    display: grid;
    width: 100vw;
    height: 100vh;

    background-image: url(./images/loginBackground.jpg);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}

#info {
    margin: 30px auto;
    max-width: 450px;
    padding: 30px 60px;
    border-style: solid;
    border-radius: 15px;
    border-width: thin;
    background-color: #c4c4bc;
}

h2 {
    font-size: 40px;
}

.roboto {
    font-family: Roboto;
}

.roboto-light {
    font-family: "Roboto Light";
}

.roboto-thin {
    font-family: "Roboto Thin";
}

#SignIn {
    width: 100%;
    background-color: #f5c24c;
}

#CreateAccount {
    width: 40%;
}

#ForgotCredentials {
    width: 40%;
}